@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {

    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}


/* *************table 공부*********** */

table {
    margin: 20px;
}

.table_wrap {
    /* 테이블 전체에 테두리 줌 */
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    border-collapse: collapse;
}

.table_wrap .table_h {
    background-color: lightblue
}

.table_wrap .table_b {
    background-color: lightskyblue
}

.table_wrap .table_h>tr>th {
    width: 200px;
    height: 50px;
    border: 1px solid black;
}


.table_wrap .table_b>tr>td {
    height: 50px;
    border: 1px solid black;

}

.table_wrap2 {
    margin: 20px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.table_h2>tr>th,
.table_b2>tr>td {
    width: 150px;
    height: 40px;
    border: 1px solid black;
}

.table_wrap3 {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.table_h3>tr>th,
.table_b3>tr>td,
.table_f3>tr>td {
    width: 150px;
    height: 40px;
    border: 1px solid black;
}

.table_wrap3 .table_b3>tr>td:nth-child(1) {
    font-weight: bold;
}

.table_wrap3 .table_h3>tr>th {
    background-color: #ffabab;
}

.table_wrap3 .table_h3 .table_h3_sub {
    background-color: #ffd272;
}

.table_wrap3 .table_f3 {
    background-color: #bee9b8;
}