@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.main {
    margin: 30px;
}

.main .tabs>ul {
    display: flex;
}

.tabs .tab {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #ffdb8d;
    outline: 2px solid #ffae00;
    cursor: pointer;
}

.contents {
    width: 300px;
    height: 300px;
    outline: 2px solid #ffae00;
}

.contents .list {
    display: none;
    width: 300px;
    padding: 20px;
    position: relative;
}

.contents .list::before {
    position: absolute;
    width: 102px;
    height: 5px;
    top: -2px;
    left: -2px;
    content: '';
    background-color: tomato;
}

.contents .list:nth-child(2):before {
    position: absolute;
    width: 102px;
    height: 5px;
    top: -2px;
    left: 98px;
    content: '';
    background-color: #0059ff;
}

.contents .list:nth-child(3):before {
    position: absolute;
    width: 102px;
    height: 5px;
    top: -2px;
    left: 200px;
    content: '';
    background-color: #3ca446;
}

.contents .active {
    display: block;
}